<div class="registerpanelsecond" style="background-image: url(img/images/portada/dating-hero.jpg);background-size: 1400px;width: 120%;height: 400px;">
	<div class="row">
		<div class="col-md-6" style="position: relative;left:400px;">
			<label class="wordreg">Nombre de Usuario</label>
		</div>
		<div class="col-md-6">
			<label class="wordreg">Email</label>
		</div>
		<div class="col-md-6" style="position: relative;left:400px;">
			<input class="formcode"></input>
		</div>
		<div class="col-md-6">
			<input class="formcode"></input>
		</div>
		<div class="col-md-6" style="position: relative;left:400px;">
			<label class="wordreg">Clave</label>
		</div>
		<div class="col-md-6">
			<label class="wordreg">Nacimiento</label>
		</div>
		<div class="col-md-6" style="position: relative;left:400px;">
			<input class="formcode"></input>
		</div>
		<div class="col-md-4">
			<select class="selectionfor">
				<option selected value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>
			<select class="selectionfor">
				<option selected value=""></option>
				<option value="Enero">Enero</option>
				<option value="Febrero">Febrero</option>
				<option value="Marzo">Marzo</option>
				<option value="Abril">Abril</option>
				<option value="Mayo">Mayo</option>
				<option value="Junio">Junio</option>
				<option value="Julio">Julio</option>
				<option value="Agosto">Agosto</option>
				<option value="Septiembre">Septiembre</option>
				<option value="Octubre">Octubre</option>
				<option value="Noviembre">Noviembre</option>
				<option value="Diciembre">Diciembre</option>
			</select>
			<select class="selectionfor">
				<option selected value=""></option>
				<option value="1951">1951</option>
				<option value="1952">1952</option>
				<option value="1953">1953</option>
				<option value="1954">1954</option>
				<option value="1955">1955</option>
				<option value="1956">1956</option>
				<option value="1957">1957</option>
				<option value="1958">1958</option>
				<option value="1959">1959</option>
				<option value="1961">1961</option>
				<option value="1962">1962</option>
				<option value="1963">1963</option>
				<option value="1964">1964</option>
				<option value="1965">1965</option>
				<option value="1966">1966</option>
				<option value="1967">1967</option>
				<option value="1968">1968</option>
				<option value="1969">1969</option>
				<option value="1971">1971</option>
				<option value="1972">1972</option>
				<option value="1973">1973</option>
				<option value="1974">1974</option>
				<option value="1975">1975</option>
				<option value="1976">1976</option>
				<option value="1977">1977</option>
				<option value="1978">1978</option>
				<option value="1979">1979</option>
			</select>
		</div>
		<div class="col-md-6" style="position: relative;left:400px;">
			<label class="wordreg">Nivel Educación</label>
		</div>
		<div class="col-md-6">
			<label class="wordreg">Hijos</label>
		</div>
		<div class="col-md-6" style="position: relative;left:400px;">
			<select class="selectionq">
				<option selected value=""></option>
				<option value="Pareja">Pareja</option>
				<option value="Amigos">Amigos</option>
				<option value="Chatear">Chatear</option>
			</select>
		</div>
		<div class="col-md-6">
			<select class="selectionq">
				<option selected value=""></option>
				<option value="Pareja">Pareja</option>
				<option value="Amigos">Amigos</option>
				<option value="Chatear">Chatear</option>
			</select>
		</div>
		<div class="col-md-6" style="position: relative;left:400px;">
			<label class="wordreg">Región</label>
		</div>
		<div class="col-md-6">
			<label class="wordreg">Comuna</label>
		</div>
		<div class="col-md-6" style="position: relative;left:400px;">
			<select class="selectionq">
				<option selected value=""></option>
				<option value="Pareja">Pareja</option>
				<option value="Amigos">Amigos</option>
				<option value="Chatear">Chatear</option>
			</select>
		</div>
		<div class="col-md-6">
			<select class="selectionq">
				<option selected value=""></option>
				<option value="Pareja">Pareja</option>
				<option value="Amigos">Amigos</option>
				<option value="Chatear">Chatear</option>
			</select>
		</div>
		<div class="col-md-6 radioform" style="position: relative;left:390px;">
			<input type="checkbox" class="checkboxone" value="true">Acepto <label style="color:#4082ed;">Condiceones de uso</label></input>
		</div>
		<div class="col-md-2">
			<button class="button-press-one">Finalizar</button>
		</div>
	</div>
</div>